.custom-form-field {
  &.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75);
    width: fit-content;
    padding-inline-end: 0.3125rem;
    color: #C7C7C7;
  }

  &.mat-form-field-appearance-outline .mat-form-field-outline {

    color: purple !important;
  }

  .mat-form-field-flex:hover .mat-form-field-outline {
    color: purple;
  }

  .mat-form-field-wrapper {
    .mat-form-field-infix {
      padding-block: 0.641rem !important;
      display: flex !important;

      .mat-input-element {

        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
        color: black;
      }

      .mat-form-field-label {
        top: 1.375rem;

        mat-label {
          font-size: 0.875rem;
        }
      }
    }

    .mat-form-field-suffix {
      .mat-icon.is-hidden {
        color: black !important;
      }
    }
  }

  &.date-form-field {
    max-width: 10rem;
  }
}

.custom-select-field {
  width: 160px;
  height: 32px;
}

.form-field-disable {
  &.mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: #e8e8e8e8 !important;
    border-radius: 5px !important;
  }

  &.mat-form-field-appearance-outline .mat-form-field-flex {
    height: 50px !important;
  }
}
