@import "./assets/styles/components/custom-form-field";


$primary: var(--primary);
$textColor: var(--textColor);

:root {
  --primary: #fff;
  --secondary: #132a13;
  --padding: 15px;
  --cinza: #405040;
  --cinza-claro: #dedede;
  --textColor: #0e0d0d
}

* {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 400px;
  padding: 30px;
  margin: 0 auto;
}


.dark-theme {
  --primary: #0e0d0d;
  --body: #4b4b4b;
  --text-menu: #fff;
  --text-body: #fff;
  --textColor: #fff
}

html,
body {
  height: 100%;
  background-color: $primary;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
