.new-transfer {
  max-width: 25rem;
  padding: 1.875rem;
  margin: 0 auto;

  form {
    background-color: rgb(111, 165, 31);
    padding: 1rem;
    border-radius: .25rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.1);
    padding: .75rem;

    .title {
      text-transform: capitalize;
      color: var(--secondary);
    }
  }

  .custom-form-field {
    width: 100%;
  }

  .botao-wrapper {
    display: flex;
  }

  .botao {
    background-color: var(--secondary);
    color: white;
    display: block;
    flex: 1;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    padding: 0.5em;
    cursor: pointer;
    transition: opacity 0.2s;

    &--cancelar {
      background-color: var(--secondary);
      margin-left: 20px;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
