<section class="new-transfer">
  <form (ngSubmit)="onSubmit(Form)" #Form [formGroup]="form">
    <h2 class="title">Nova Transferência</h2>

    <mat-form-field class="custom-form-field" appearance="outline">
      <mat-label>Valor</mat-label>
      <input matInput formControlName="value" placeholder="Valor" required />
      <mat-error *ngIf="hasError('value', 'required', form)">
        Campo <strong>Valor</strong> é obrigatório!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="custom-form-field" appearance="outline">
      <mat-label>Destino</mat-label>
      <input matInput formControlName="fate" placeholder="Destino" required />
      <mat-error *ngIf="hasError('fate', 'required', form)">
        Campo <strong>Destino</strong> é obrigatório!
      </mat-error>
    </mat-form-field>

    <div class="botao-wrapper">
      <button class="botao" type="submit" #submit>Transferir</button>
    </div>
  </form>
</section>
